@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}

/* Print Specific Styles */
@media print {
  body {
    background: white !important;
  }
  header, nav, button, .no-print {
    display: none !important;
  }
  #invoice-preview-capture, #live-editor-preview {
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}
